@charset "UTF-8";
/* CSS Document */
html {
	height: 100%;
}
body {
	height: 100%;
	overflow-y: hidden;
	background-color: #AAE8E0;
}
* {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	
}

.links {
	display: block;
	font-weight: 400;
	color: #fff;
	font-size: 6em;
	text-align: right;
	padding-top: 12%;
	padding-right: 20%;
	text-decoration: none;
}
.background {
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
}

.aboutBack {
	background-color: #AAE8E0;
	min-height: 105%;
}
.navbar-brand {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	display: block;
	font-weight: lighter;
	color: dimgrey;
	
}
.navbar-brand:active {
	color: dimgrey;
}
.bold {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-weight: bold;
}

.aboutDescription {
	height: 100vh;
	min-height: 100%;
	background-color: rgba(255, 255, 255, .9);
	padding-left: 5%;
	padding-top: 8%;
	font-weight: 400;
}
.aboutDescription h1 {
	color:#08655B;
	font-weight: 700;
	letter-spacing: 3px;
	
}
.aboutDescription p {
	padding-right: 10%;
	padding-bottom: 2%;
	font-size: 1.4em;
	line-height: 1.7em;
	font-weight: 700;
	color:#08655B;
	
}
.firstphoto img {
	width: 100%;
	height: auto;
	position: absolute;
	align-content: center;
}
.photo img {
	width: auto;
	height: 100%;
	position: absolute;
	align-content: center;
}
img {
	display: block;
	align-content: center;
	padding: 0 auto;
}
.smallPic {
	width: 100%;
	height: auto;
}
.smallhPic {
	height: 100%;
	width: auto;
}
.parent {
	width: 30rem;
	height: 30rem;
	border-radius: 1%;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, .3);

}
.caption {
	width: 9rem;
	height: 1rem;
	display: block;
	margin: 0 auto;
}
.caption p {
	font-size: .8em;
}
.aboutPic {
	
	width: 70%;
    height: auto;
	position: relative;
	margin-top: 5%;
}
.aboutText {
	padding-left: 18%;
}
.aboutText p {
	text-align: left;
	font-size: 1em;
	color:#424141;
}
.aboutText h3 {
	text-align: left;
	color: #fff;
	font-size: 1.2em;
	font-weight: 300;
}
.aboutlittle {
	font-size: .9em;
}
.aboutBody {
	background-color: #72BDAF;
}
hr {

 margin-left: 0;
}
@media (max-width: 770px) {
	.aboutDescription h1 {
		text-align: center;
		padding-right: 5%;
	}
	.aboutDescription p {
		padding-right: 5%;
		font-size: 1em;
	}
	.aboutPic {
		padding-top: 8%;
		width: 60%;
		height: auto;
	}
	.aboutDescription {
		width: 103%;
	}
	.aboutPic {
		transform: translateY(-5%);
	}
}
@media (min-width: 1000px) {
	.aboutPic {
		transform: translateY(-10%);
	}
}
@media (min-width: 765px) and (max-width: 995px) {
	.aboutPic {
		transform: translateY(10%);
		width: 300px;
		height: auto;
	}
}
@media (min-width: 460px) and (max-width: 1045px) {
	.aboutPic {
	    width: 300px;
		height: auto;
	}
	.aboutDescription p {
		padding-right: 5%;
		font-size: 1.2em;
	}
}
@media (min-width: 1035px) and (max-width: 1250px) {
	.aboutPic {
	    width: 300px;
		height: auto;
		padding-top: 15%;
	}
}
/*
@media (min-width: 760px) and (max-width: 1050px) {
	.aboutPic {
		width: 300px;
	}
*/

.contactList {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
	text-align: left;
}
.email img {
	padding: 0;
	margin: 0;
}

.contactList li {
	display: inline;
	text-align: left;
	padding: 0;
	margin: 0;
}
.email a {
	text-decoration: none;
	color: #292727;
}
.cv {
	text-decoration: none;
	color:#08655B;
	font-size: 1.4em;
	font-weight: 700;
	transition: all;
	transition-duration: 200ms;
	transition-timing-function: ease-in;
}
.cv:hover, .cv:focus {
	text-decoration: none;
	color:#08655B;
	letter-spacing: 2px;
}