@charset "UTF-8";
/* CSS Document */
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #fff;
}
* {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	
}
.animation-element {
  opacity: 0;
  position: relative;
}

.links {
	display: block;
	font-weight: 400;
	color: #fff;
	font-size: 6em;
	text-align: right;
	padding-top: 12%;
	padding-right: 20%;
	text-decoration: none;
}
.background {
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
}
.olympicBack {
	background-image: url("../images/1998_Nagano_Winter_Olympics_logo.png");
}
.worldmusicBack {
	background-image: url("../images/Bus Stop Billboard MockUp.jpg");
}
.abstractBack {
	background-image: url("../images/For the love of type!.jpg");
}
.conquestBack {
	background-image: url("../images/conquest1.png");
}
.gridBack {
	background-image: url("../images/A4 Paper PSD MockUp 4.jpg")
}
.eventBack {
	background-image: url("../images/Announcement2.jpg");
}
.organicBack {
	background-image: url("../images/graph sketch.jpg");
}
.signBack {
	background-image: url("../images/StreetSigns.jpg");
}
.zineBack {
	background-image: url("../images/1984.jpg");
}
.aboutBack {
	background-color: #72BDAF;
	min-height: 110%;
}
.navbar-brand {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	display: block;
	font-weight: lighter;
	color: dimgrey;
	
}
.navbar-brand:active {
	color: dimgrey;
}
.bold {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-weight: bold;
}
.description {
	min-height: 100%;
	background-color: rgba(255, 255, 255, .7);
	padding-left: 5%;
	padding-top: 10%;
	font-weight: 400;
}
.description h1 {
	color:#08655B;
	font-weight: 300;
	letter-spacing: 3px;
	
}
.description h6 {
	font-weight: 300;
}
.description p{
	color: #08655B;
	padding-right: 60%;
}
.firstphoto img {
	width: 100%;
	height: auto;
	position: absolute;
	align-content: center;
}
.photo img {
	width: auto;
	height: 100%;
	position: absolute;
	align-content: center;
}
img {
	display: block;
	align-content: center;
	margin: 0 auto;
	padding: 0 auto;
}
.animation-element.fadeIn{
	opacity: 0;
	transition: all 1s linear;
	transition-delay: 600ms;
}
.animation-element.fadeIn.in-view {
	opacity: 1;	
}
.smallPic {
	width: 100%;
	height: auto;
}
.smallhPic {
	height: 100%;
	width: auto;
}
.parent {
	width: 30rem;
	height: 30rem;
	border-radius: 1%;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, .3);

}
.caption {
	width: 9rem;
	height: 1rem;
	display: block;
	margin: 0 auto;
}
.caption p {
	font-size: .8em;
}

@media (max-width: 770px) {
	.description h1 {
		text-align: center;
		padding-top: 10%;
		padding-right: 5%;
		
	}
	.description h6 {
		text-align: center;
		padding-right: 11%;

	}
	.description p {
		padding-right: 10%;
		padding-left: 5%;
		padding-top: 10%;
	}
	.caption {
		padding: 10% 0%;
	}
	.caption p {
		font-size: .9em;
		text-align: center;
		margin: 0 auto;
		padding: 0 auto;
	}
}
@media (max-width: 770px) {
	img {
		max-width: 100%;
	}
	body {
		overflow-x: hidden;
	}
}