@charset "UTF-8";
html {
	height: 100%;
}
body {
	background-color:#9BC7C3;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}
* {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	
}
.navbar-custom {
	background-color: rgba(0, 0, 0, .3);
	color:#0000;
	border-radius: 0;
	border: 0;
}
.navbar li {
	list-style-type: none;
}
.navbar-brand {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	display: block;
	font-weight: lighter;
	color: dimgrey;
	font-size: 1.8em;
	
}
.navbar-brand:hover {
	color: white;
}
.bold {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-weight: bold;
}
.wrapper {
	height: 100vh;
	width: 100vw;
	z-index: -99;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	padding: 0;
}
.item img {
	width: 100%;
	height: 100%;
	padding: 0;
}

.navbar-right {
	float: right;
	position: relative;
	right: 8%;
	top: 18px;
}
.navbar-right > li {
	display: inline;
}
.navbar-nav > li {
	margin-top: 4%;
	padding: 0 20px;
}

.nav-pills > li > a {
	font-size: .8em;
	color: dimgray;
	
}
.nav-pills > li > a:hover {
	font-size: .8em;
	color: #08655B;
	text-decoration: none;
	background-color: transparent;
}
.nav-pills > li > a:focus {
	font-size: .8em;
	color: #08655B;
	text-decoration: none;
	background-color: transparent;
}
.topLink {
	transition: all;
	transition-duration: 200ms;
	transition-timing-function: ease-in;
}
.topLink:hover {
	font-size: .8em;
	color: #08655B;
	text-decoration: none;
	letter-spacing: 4px;
}
.topLink:focus {
	font-size: .8em;
	color: #08655B;
	text-decoration: none;
	letter-spacing: 4px;
}
.dropdown-menu {
	background-color: transparent;
	border: none;
	box-shadow: 0 0 0 0 transparent;
}

.shape {
	background-color: #ec7525;
	height: 100vh;
	width: 100%;
}

.carousel-indicators li {
	visibility: hidden;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.overlay {
	float: right;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

#icon {
	top: 3%;
	display: inline-block;
	position: fixed;
	z-index: 10;
	
}
#icon img {
	width: 30px;
	height: auto;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay li {
	list-style-type: none;
}
.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    color: #131212;
    display: block;
	transition-duration: 200ms;
	transition-timing-function: ease-in;
}


.overlay .closebtn {
    position: absolute;
	bottom: 90%;
    right: 70%;
   
}
.navbar-brand:active {
	color: dimgrey;
}
.subMenu {
	display: none;
	position: absolute;
}
.sidebar {
	font-weight: 300;
	font-size: .7em;
}
.sidebar:hover .subMenu {
	display: block;
	background-color: #fff;
}
.sidebar:hover .subMenu {
	display: block;
}
.sidebar:hover .sidebar3 {
	padding-top: 5%;
}
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
	background-color:#fff;
}
.mobileHome {
	display: none;
}
@media (max-width: 770px) {
	.wrapper {
		display: none;
	}
	.mobileHome {
		display: block;
		z-index: -99;
		padding: 2% 10%;
	}
	.mobileHome img {
		width: 100%;
		height: auto;
	}
	.overlay {
		background-color: #9BC7C3; 
	}
	
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}